<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Task Manager</title>
</head>
<body>

    <header>
        <nav>
            <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('signup') }}">Signup</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('get_bookings') }}">Bookings</a></li>
                <li><a href="{{ url_for('get_clients') }}">Clients</a></li>
                <li><a href="{{ url_for('get_profile') }}">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('signup') }}">Signup</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('get_bookings') }}">Bookings</a></li>
            <li><a href="{{ url_for('get_clients') }}">Clients</a></li>
            <li><a href="{{ url_for('get_profile') }}">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </header>

    <section id="notifications">
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <a class="grey-text text-lighten-4 right" href="https://www.facebook.com"><i class="fab fa-facebook-square small footer-icons"></i></a>
                <a class="grey-text text-lighten-4 right" href="https://www.instagram.com"><i class="fab fa-instagram-square small footer-icons"></i></a>
                <a class="grey-text text-lighten-4 right" href="https://www.twitter.com"><i class="fab fa-twitter-square small footer-icons"></i></a>
                <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com"><i class="fab fa-linkedin small footer-icons"></i></a>
                <a class="grey-text text-lighten-4 right" href="https://www.pinterest.com"><i class="fab fa-pinterest-square small footer-icons"></i></a>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>