<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Restaurant Bookings</title>
</head>
<body class="d-flex flex-column h-100">

    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Restaurant Bookings</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0  ">
            {% if session.email %}
                <li class="nav-item"><a href="{{ url_for('get_bookings') }}" class="nav-link">Bookings</a></li>
                <li class="nav-item"><a href="{{ url_for('get_clients') }}" class="nav-link">Clients</a></li>
                <li class="nav-item"><a href="{{ url_for('profile', email=session['email']) }}" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
            {% else %}
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="{{ url_for('signup') }}" class="nav-link">Signup</a></li>
                <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Login</a></li>
            {% endif %}
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
    </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container mx-auto w-25 d-flex justify-content-center fs-1">
            <a href="https://www.facebook.com"><i class="fab fa-facebook-square small footer-icons"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram-square small footer-icons"></i></a>
            <a href="https://www.twitter.com"><i class="fab fa-twitter-square small footer-icons"></i></a>
            <a href="https://www.linkedin.com"><i class="fab fa-linkedin small footer-icons"></i></a>
            <a href="https://www.pinterest.com"><i class="fab fa-pinterest-square small footer-icons"></i></a>
        </div>
    </footer>

    {% if session.email %}
        <div class="fixed-action-btn"  style="display:none;">
        <a class="btn-floating btn-large deep-orange accent-3">
            <i class="fas fa-plus"></i>
        </a>
        <ul>
            <li><a data-target="add-client-modal" class="modal-trigger btn-floating btn-large blue"><i class="fas fa-user-plus"></i></a></li>
            <li><a data-target="add-booking-modal" class="modal-trigger btn-floating btn-large green"><i class="fas fa-calendar-plus"></i></a></li>
        </ul>
        </div>

        <div id="add-client-modal" class="modal" style="display:none;"> <!-- Begin add-client-modal -->
            <div class="modal-content">
                <div class="row">
                    <form class="col s12" id="add-client-form" method="POST" action="{{ url_for('add_client') }}"> <!-- Begin add client form -->
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="fas fa-user prefix"></i>
                                <input id="add-client-firstname" name="add-client-firstname" type="text" class="validate">
                                <label for="add-client-firstname">
                                    First Name
                                </label>
                            </div>
                            <div class="input-field col s6">
                                <i class="fas fa-user-friends prefix"></i>
                                <input id="add-client-lastname" name="add-client-lastname" type="text" class="validate">
                                <label for="add-client-lastname">
                                    Last Name
                                </label>
                            </div>
                            <div class="input-field col s6">
                                <i class="fas fa-envelope prefix"></i>
                                <input id="add-client-email" name="add-client-email" type="email" class="validate">
                                <label for="add-client-email">
                                    Email
                                </label>
                            </div>
                            <div class="input-field col s6">
                                <i class="fas fa-phone prefix"></i>
                                <input id="add-client-mobile" name="add-client-mobile" type="text" class="validate">
                                <label for="add-client-mobile">
                                    Mobile
                                </label>
                            </div>
                            <div class="input-field col s6">
                                <p>
                                <label for="add-client-marketing">
                                    <input id="add-client-marketing" name="add-client-marketing" type="checkbox" />
                                    <span>Marketing Consent</span>
                                </label>
                                </p>
                            </div>
                        </div>
                    </form> <!-- End add-client-form -->
                </div>
            </div>
            <div class="modal-footer">
                <button data-target="add-client-modal" class="btn modal-close" type="submit" form="add-client-form">Save</button>
                <button data-target="add-client-modal" class="btn modal-close" type="reset" form="add-client-form">Cancel</button>
            </div>
        </div> <!-- End add-client-modal -->

        <div id="add-booking-modal" class="modal" style="display:none;"> <!-- Begin add-booking-modal -->
            <div class="modal-content">
                <div class="row">
                    <form class="col s12" id="add-booking-form" method="POST" action="{{ url_for('add_booking') }}"> <!-- Begin add-booking-form -->
                        <div class="row"> 
                            <div class="input-field col s6">
                                <i class="fas fa-user prefix"></i>
                                <select id="add-booking-client-id" name="add-booking-client-id" required>
                                        <option value="">Select Client</option>
                                    {% for client in clients %}
                                        <option value="{{ client._id }}">{{ client.first_name + " " + client.last_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="add-booking-client-id">Status</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="fas fa-calendar-day prefix"></i>
                                <input id="add-booking-date" name="add-booking-date" type="date" class="validate">
                                <label for="add-booking-date">
                                    Date
                                </label>
                            </div>
                            <div class="input-field col s6">
                                <i class="fas fa-clock prefix"></i>
                                <input id="add-booking-time" name="add-booking-time" type="time" class="validate">
                                <label for="add-booking-time">
                                    Time
                                </label>
                            </div>
                            <div class="input-field col s6">
                                <i class="fas fa-users prefix"></i>
                                <input id="add-booking-people" name="add-booking-people" type="number" class="validate">
                                <label for="add-booking-people">
                                    People
                                </label>
                            </div>
                            <div class="input-field col s6">
                                <i class="fas fa-clipboard prefix"></i>
                                <select id="add-booking-status" name="add-booking-status">
                                    <option value="booked" selected>Booked</option>
                                    <option value="waitlist">Waitlist</option>
                                    <option value="confirmed">Confirmed</option>
                                    <option value="no-show">No Show</option>
                                    <option value="cancelled">Cancelled</option>
                                    <option value="completed">Completed</option>
                                </select>
                                <label for="add-booking-status">Status</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="fas fa-dollar-sign prefix"></i>
                                <input id="add-booking-value" name="add-booking-value" type="number" class="validate">
                                <label for="add-booking-value">
                                    Value
                                </label>
                            </div>
                        </div>
                    </form> <!-- End add-booking-form -->
                </div>
            </div>
            <div class="modal-footer">
                <button data-target="add-booking-modal" class="btn modal-close" type="submit" form="add-booking-form">Save</button>
                <button data-target="add-booking-modal" class="btn modal-close" type="reset" form="add-booking-form">Cancel</button>
            </div>
        </div> <!-- End add-booking-modal -->
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}<script>generateFlashMessage("{{ message }}");</script>{% endfor %}
            {% endif %}
        {% endwith %}
    {% block scripts %}
    {% endblock %}
</body>
</html>