{% extends "base.html" %}
{% block content %}

<h1>Bookings</h1>

    <div class="row card-panel grey lighten-5">
        <form action="" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Bookings</label>
                </div>
                <div class="col s12 m4">
                    <a href="" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Trigger -->
    <button data-target="addBooking" class="btn modal-trigger">Add Booking</button>
        <!-- Modal Structure -->
    <div id="addBooking" class="modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12" id="addBookingForm" method="POST" action="{{ url_for('add_booking') }}">
                <div class="row">
                    <input id="booking_id" name="booking_id" type="hidden" />   
                    <div class="input-field col s6">
                        <i class="fas fa-user prefix"></i>
                        <select id="clientId" name="clientId" required>
                                <option value="">Select Client</option>
                            {% for client in clients %}
                                <option value="{{ client._id }}">{{ client.first_name + " " + client.last_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="clientId">Status</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="fas fa-calendar-day prefix"></i>
                        <input id="date" name="date" type="date" class="validate">
                        <label for="date">
                            Date
                        </label>
                    </div>

                    <div class="input-field col s6">
                        <i class="fas fa-clock prefix"></i>
                        <input id="time" name="time" type="time" class="validate">
                        <label for="time">
                            Time
                        </label>
                    </div>

                    <div class="input-field col s6">
                        <i class="fas fa-users prefix"></i>
                        <input id="people" name="people" type="number" class="validate">
                        <label for="people">
                            People
                        </label>
                    </div>

                    <div class="input-field col s6">
                        <i class="fas fa-clipboard prefix"></i>
                        <select id="status" name="status">
                        <option value="booked" selected>Booked</option>
                        <option value="waitlist">Waitlist</option>
                        <option value="confirmed">Confirmed</option>
                        <option value="no-show">No Show</option>
                        <option value="cancelled">Cancelled</option>
                        <option value="completed">Completed</option>
                        </select>
                        <label>Status</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="fas fa-dollar-sign prefix"></i>
                        <input id="value" name="value" type="number" class="validate">
                        <label for="value">
                            Value
                        </label>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button data-target="addBooking" class="btn modal-close" type="submit" form="addBookingForm">Save</button>
            <button data-target="addBooking" class="btn modal-close" type="submit" form="addBookingForm">Cancel</button>
        </div>
    </div>

    {% if bookings|length > 0 %}
        <table class="highlight" id="bookings-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Guest Name</th>
                <th>People</th>
                <th>Status</th>
                <th>Value</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.date }}</td>
                <td>{{ booking.time }}</td>
                <td>{{ booking.new_client_id }}</td>
                <td>{{ booking.people }}</td>
                <td>{{ booking.status.capitalize() }}</td>
                <td>€{{ booking.value }}</td>
                <td><button onclick="editBooking('{{ booking.client_id }}', '{{ booking._id }}', this.parentElement.parentElement.rowIndex)" class="btn-small blue accent-4">Edit</button></td>
                <td><a href="{{ url_for('delete_booking', booking_id=booking._id, client_id=booking.client_id) }}" class="btn-small red accent-4">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Bookings Found</h3>
    {% endif %}

{% endblock %}