{% extends "base.html" %}
{% block content %}

<h1>Bookings</h1>

<div class="row">
    <form method="POST" action="{{ url_for('filter_bookings' )}}" id="filterBookings">
        <div class="col">
            <label for="booking-date">Date:</label>
            <input type="date" id="bookingDate" name="bookingDate" class="form-control" aria-label="Date">
        </div>
        <div class="col">
            <label for="bookingStatus">Status</label>
            <select id="bookingStatus" name="bookingStatus" class="form-select">
                <option value="">Select Status</option>
                <option value="booked">Booked</option>
                <option value="waitlist">Waitlist</option>
                <option value="confirmed">Confirmed</option>
                <option value="no-show">No Show</option>
                <option value="cancelled">Cancelled</option>
                <option value="completed">Completed</option>
            </select>
        </div>
    </form>
    <div class="col d-flex justify-content-end">
        <button type="submit" class="btn btn-danger align-self-end mx-2" form="filterBookings" >Reset</button>
        <button type="submit" class="btn btn-primary align-self-end" form="filterBookings">Search</button>
    </div>
</div>

<hr class="page-section">

{% if bookings|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Guest</th>
            <th scope="col">People</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr id="{{ booking._id }}">
                <td>{{ booking.new_date }}</td>
                <td>{{ booking.time }}</td>
                <td><a href="{{ url_for('guest_details', client_id=booking.client_id) }}">{{ booking.new_client_id }}</a></td>
                <td>{{ booking.people }}</td>
                <td>{{ booking.status.capitalize() }}</td>
                <td><button onclick="editBooking('{{ booking._id }}', '{{ booking.date }}', '{{ booking.client_id }}')" data-bs-toggle="modal" data-bs-target="#editBooking" class="btn btn-outline-primary">Edit</button></td>
                <td class="visually-hidden">{{ booking.value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h3 class="red-text text-darken-4 center-align">No Bookings Found</h3>
{% endif %}

<!-- Edit Booking Modal -->
<div class="modal fade" id="editBooking" tabindex="-1" aria-labelledby="editBookingLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editBookingLabel">Edit Booking</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{{ url_for('edit_booking') }}" id="editBookingForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Guest</label>
                    <input type="text" class="form-control" id="name" name="name" disabled>
                    <input type="hidden" class="form-control" id="guestId" name="guestId">
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                    <input type="hidden" class="form-control" id="bookingId" name="bookingId">
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Time</label>
                    <input type="time" class="form-control" id="time" name="time" required>
                </div>
                <div class="mb-3">
                    <label for="people" class="form-label">People</label>
                    <input type="number" class="form-control" id="people" name="people" required>
                </div>
                <div class="mb-3">
                    <label for="value" class="form-label">Value</label>
                    <input type="number" class="form-control" id="value" name="value" required>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" aria-label="Booking Status" id="edit-booking-status" name="edit-booking-status">
                        <option value="booked">Booked</option>
                        <option value="waitlist">Waitlist</option>
                        <option value="confirmed">Confirmed</option>
                        <option value="no-show">No Show</option>
                        <option value="cancelled">Cancelled</option>
                        <option value="completed">Completed</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="editBookingForm">Update Booking</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}