{% extends "base.html" %}
{% block content %}

<h1>Bookings</h1>

<div class="row">
    <div class="col">
        <label for="booking-date">Date:</label>
        <input type="date" id="booking-date" name="booking-date" class="form-control" aria-label="Date">
    </div>
    <div class="col">
        <label for="booking-status">Status</label>
        <select id="booking-status" name="booking-status" class="form-select">
            <option value="">Select Status</option>
            <option value="booked">Booked</option>
            <option value="waitlist">Waitlist</option>
            <option value="confirmed">Confirmed</option>
            <option value="no-show">No Show</option>
            <option value="cancelled">Cancelled</option>
            <option value="completed">Completed</option>
        </select>
    </div>
    <div class="col d-flex justify-content-end">
        <button type="reset"class="btn btn-danger align-self-end mx-2">Reset</button>
        <button type="submit" class="btn btn-primary align-self-end">Search</button>
    </div>
</div>

<hr class="page-section">

{% if bookings|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Guest</th>
            <th scope="col">People</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.new_date }}</td>
                <td>{{ booking.time }}</td>
                <td>{{ booking.new_client_id }}</td>
                <td>{{ booking.people }}</td>
                <td>{{ booking.status.capitalize() }}</td>
                <td><button onclick="editBooking('{{ booking.client_id }}', '{{ booking._id }}', '{{ booking.date }}', this.parentElement.parentElement.rowIndex)" class="btn btn-outline-primary">Edit</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h3 class="red-text text-darken-4 center-align">No Bookings Found</h3>
{% endif %}

{% endblock %}