{% extends "base.html" %}
{% block content %}

<h1>Clients</h1>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" action="{{ url_for('search_clients') }}" method="post">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Clients</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_clients') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>


    <!-- Modal Trigger -->
    <button data-target="addClient" class="btn modal-trigger">Add Client</button>
        <!-- Modal Structure -->
    <div id="addClient" class="modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12" id="addClientForm" method="POST" action="{{ url_for('add_client') }}">
                    <input type="hidden" id="editClient" name="editClient">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="fas fa-user prefix"></i>
                        <input id="firstName" name="firstName" type="text" class="validate">
                        <label for="firstName">
                            First Name
                        </label>
                    </div>
                    <div class="input-field col s6">
                        <i class="fas fa-user-friends prefix"></i>
                        <input id="lastName" name="lastName" type="text" class="validate">
                        <label for="lastName">
                            Last Name
                        </label>
                    </div>

                    <div class="input-field col s6">
                        <i class="fas fa-envelope prefix"></i>
                        <input id="email" name="email" type="text" class="validate">
                        <label for="email">
                            Email
                        </label>
                    </div>

                    <div class="input-field col s6">
                        <i class="fas fa-phone prefix"></i>
                        <input id="mobile" name="mobile" type="text" class="validate">
                        <label for="mobile">
                            Mobile
                        </label>
                    </div>

                    <div class="input-field col s6">
                        <p>
                        <label>
                            <input id="marketingConsent" name="marketingConsent" type="checkbox" />
                            <span>Marketing Consent</span>
                        </label>
                        </p>
                    </div>

                </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button data-target="addBooking" class="btn modal-close" type="submit" form="addClientForm">Save</button>
            <button data-target="addBooking" class="btn modal-close" type="reset" form="addClientForm">Cancel</button>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="addBooking" class="modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12" id="addBookingForm" method="POST" action="{{ url_for('add_booking') }}">
                <div class="row">
                    <input id="clientId" name="clientId" type="hidden" />
                    <div class="input-field col s6">
                        <i class="fas fa-calendar-day prefix"></i>
                        <input id="date" name="date" type="date" class="validate">
                        <label for="date">
                            Date
                        </label>
                    </div>

                    <div class="input-field col s6">
                        <i class="fas fa-clock prefix"></i>
                        <input id="time" name="time" type="time" class="validate">
                        <label for="time">
                            Time
                        </label>
                    </div>

                    <div class="input-field col s6">
                        <i class="fas fa-users prefix"></i>
                        <input id="people" name="people" type="number" class="validate">
                        <label for="people">
                            People
                        </label>
                    </div>

                    <div class="input-field col s6">
                        <i class="fas fa-clipboard prefix"></i>
                        <select id="status" name="status">
                        <option value="booked" selected>Booked</option>
                        <option value="waitlist">Waitlist</option>
                        <option value="confirmed">Confirmed</option>
                        <option value="no-show">No Show</option>
                        <option value="cancelled">Cancelled</option>
                        <option value="completed">Completed</option>
                        </select>
                        <label>Status</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="fas fa-dollar-sign prefix"></i>
                        <input id="value" name="value" type="number" class="validate">
                        <label for="value">
                            Value
                        </label>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button data-target="addBooking" class="btn modal-close" type="submit" form="addBookingForm">Save</button>
            <button data-target="addBooking" class="btn modal-close" type="reset" form="addBookingForm">Cancel</button>
        </div>
    </div>

    {% if clients|length > 0 %}
    <ul class="collapsible">
        {% for client in clients %}
            <li>
                <div class="collapsible-header">
                    <table class="clients-table">
                        <tr>
                            <td id="{{ client._id }}">
                                <i class="fas fa-plus"></i>
                            </td>
                            <td>
                                {{ client.first_name }}
                            </td>
                            <td>
                                {{ client.last_name }}
                            </td>
                            <td>
                                {{ client.mobile }}
                            </td>
                            <td>
                                {{ client.email }}
                            </td>
                            <td>
                                <button onclick="addBooking('{{ client._id }}')" class="btn-small blue accent-4">+ Booking</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="collapsible-body">
                    <ul class="li">Marketing Consent: {{ client.marketing_consent }}</ul>
                    <ul class="li">Client Since: 20/01/2021</ul>
                    <ul class="li">Bookings Made: {{ client.bookings }}</ul>
                    <ul class="li">Bookings Completed: 8</ul>
                    <ul class="li">Client Value: €600</ul>
                    <button onclick="editClient('{{ client._id }}')" class="btn-small green accent-4">Edit</button>
                    <a href="{{ url_for('delete_client', client_id=client._id) }}" class="btn-small red accent-4">Delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Bookings Found</h3>
    {% endif %}

{% endblock %}