{% extends "base.html" %}
{% block content %}

<h1>Clients</h1>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" action="{{ url_for('search_clients') }}" method="post">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Clients</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_clients') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Structure -->
    <div id="edit-client-modal" class="modal"> <!-- Begin edit-client-modal -->
        <div class="modal-content">
            <div class="row">
                <form class="col s12" id="edit-client-form" method="POST" action="{{ url_for('edit_client') }}"> <!-- Begin edit-client-form -->
                    <input type="hidden" id="editClient" name="editClient">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="fas fa-user prefix"></i>
                            <input id="edit-client-firstname" name="edit-client-firstname" type="text" class="validate">
                            <label for="edit-client-firstname">
                                First Name
                            </label>
                        </div>
                        <div class="input-field col s6">
                            <i class="fas fa-user-friends prefix"></i>
                            <input id="edit-client-lastname" name="edit-client-lastname" type="text" class="validate">
                            <label for="edit-client-lastname">
                                Last Name
                            </label>
                        </div>
                        <div class="input-field col s6">
                            <i class="fas fa-envelope prefix"></i>
                            <input id="edit-client-email" name="edit-client-email" type="text" class="validate">
                            <label for="edit-client-email">
                                Email
                            </label>
                        </div>
                        <div class="input-field col s6">
                            <i class="fas fa-phone prefix"></i>
                            <input id="edit-client-mobile" name="edit-client-mobile" type="text" class="validate">
                            <label for="edit-client-mobile">
                                Mobile
                            </label>
                        </div>
                        <div class="input-field col s6">
                            <p>
                            <label for="edit-client-marketing">
                                <input id="edit-client-marketing" name="edit-client-marketing" type="checkbox" />
                                <span>Marketing Consent</span>
                            </label>
                            </p>
                        </div>
                    </div>
                </form> <!-- End edit-client-form -->
            </div>
        </div>
        <div class="modal-footer">
            <button data-target="edit-client-modal" class="btn modal-close" type="submit" form="edit-client-form">Save</button>
            <button data-target="edit-client-modal" class="btn modal-close" type="reset" form="edit-client-form">Cancel</button>
        </div>
    </div> <!-- End edit-client-modal -->

    {% if clients|length > 0 %}
    <ul class="collapsible">
        {% for client in clients %}
            <li>
                <div class="collapsible-header">
                    <table class="clients-table">
                        <tr>
                            <td id="{{ client._id }}">
                                <i class="fas fa-plus"></i>
                            </td>
                            <td>
                                {{ client.first_name }}
                            </td>
                            <td>
                                {{ client.last_name }}
                            </td>
                            <td>
                                {{ client.mobile }}
                            </td>
                            <td>
                                {{ client.email }}
                            </td>
                            <td>
                                <button onclick="addBooking('{{ client._id }}')" class="btn-small blue accent-4">+ Booking</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="collapsible-body row">
                    <div class="col s6 client-collapsible">
                        Marketing Consent: {% if client.marketing_consent == "on" %}Yes {% else %} No {% endif %}
                    </div>
                    <div class="col s6 client-collapsible">
                        Client Since: {{ client.created_date.strftime('%d-%m-%Y') }}
                    </div>
                    <div class="col s6 client-collapsible">
                        Bookings Made: {{ client.bookings }}
                    </div>
                    <div class="col s6 client-collapsible">
                        Bookings Completed: {{ client.bookings_completed }}
                    </div>
                    <div class="col s6 client-collapsible">
                        Client Value: €{{ client.value }}
                    </div>
                    <div class="col s6 client-collapsible">
                        <button onclick="editClient('{{ client._id }}')" class="btn-small green accent-4">Edit</button>
                        <a href="{{ url_for('delete_client', client_id=client._id) }}" class="btn-small red accent-4" {% if client.bookings > 0 %}disabled{% endif %}>Delete</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Clients Found</h3>
    {% endif %}

{% endblock %}