{% extends "base.html" %}
{% block content %}

<h1>Clients</h1>

    {% if clients|length > 0 %}
    <div class="card mt-48">
    <div class="card-header bg-white">
        <div class="row align-items-center">
            <div class="col">
            <h4 class="mb-0">
                Your Clients
            </h4>
            </div>
            <div class="col-auto">
            <button class="btn btn-xs btn-primary" data-bs-toggle="modal" data-bs-target="#addGuest">
                Add
            </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="list-group list-group-flush">
        {% for client in clients %}
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-sm-1">
                    <!-- Avatar -->
                        <div class="avatar">
                            {% if client.image %}
                                <img class="avatar-img rounded-circle" src="{{ url_for('static', filename='img/user_icon.jpg') }}" alt="...">
                            {% else %}
                                <i class="far fa-user-circle avatar-empty"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-4 ms-n5">
                        <p class="mb-0 text-truncate">
                            {{ client.first_name }} {{ client.last_name }}
                        </p>
                    </div>
                    <div class="col-sm-3 ms-n5">
                        <p class="mb-0 text-truncate">
                            {{ client.mobile }}
                        </p>
                    </div>
                    <div class="col-sm-3 ms-n5">
                        <p class="mb-0 text-truncate">
                            {{ client.email }}
                        </p>
                    </div>
                    <div class="col-sm-1 ms-n5">
                        <a class="btn btn-sm btn-outline-success" href="{{ url_for('guest_details', client_id=client._id) }}">Edit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Clients Found</h3>
    {% endif %}

<!-- Add Booking Modal -->
<div class="modal fade" id="addGuest" tabindex="-1" aria-labelledby="addGuestLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addGuestLabel">Add Guest</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{{ url_for('add_client') }}" id="addGuestForm">
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" required>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="mobile" class="form-label">Mobile</label>
                    <input type="tel" class="form-control" id="mobile" name="mobile" required>
                </div>
                <div class="mb-3">
                    <label for="dob" class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" id="dob" name="dob">
                </div>
                <div class="mb-3">
                    <label for="notes" class="form-label">
                        Guest Notes
                    </label>
                    <textarea id="notes" name="notes" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="marketingConsent" class="form-check-label">
                        Marketing Consent
                    </label>
                    <input type="checkbox" id="marketingConsent" name="marketingConsent" class="form-check-input" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="addGuestForm">Update Booking</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}