{% extends "base.html" %}
{% block content %}

<div class="header">
    <div class = "card header-body valign-wrapper">
        <div class="header-content">
            <h3>
                Have A Question?
            </h3>
            <h1>
                Contact Us
            </h1>
        </div>
    </div>
</div>

<hr class="page-section">

<form id="contact-form">
    <div class="mb-3">
        <label for="firstName" class="form-label">
            First Name:
        </label>
        <input type="text" class="form-control" id="firstName" name="firstName" minlength="2" required aria-describedby="firstNameHelp">
        <div id="firstNameHelp" class="form-text">
            We'll never share your name with anyone else.
        </div>
        <span class="helper-text" data-error="Please enter at least 2 characters"></span>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">
            Last Name:
        </label>
        <input type="text" class="form-control" id="lastName" name="lastName" minlength="2" required aria-describedby="lastNameHelp">
        <div id="lastNameHelp" class="form-text">
            We'll never share your name with anyone else.
        </div>
        <span class="helper-text" data-error="Please enter at least 2 characters"></span>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">
            Email:
        </label>
        <input type="email" class="form-control" id="email" name="email" minlength="2" required aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
        </div>
        <span class="helper-text" data-error="Please enter at least 2 characters"></span>
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Message:</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
        <span class="helper-text" data-error="Please enter at least 2 characters"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script src="static/js/contact.js"></script>
{% endblock %}