{% extends "base.html" %}
{% block content %}

<div class="header">
    <div class = "card header-body valign-wrapper">
        <div class="header-content">
            <h3>
                Have A Question?
            </h3>
            <h1>
                Contact Us
            </h1>
        </div>
    </div>
</div>

<hr class="page-section">

<div class="row">
        <form class="col s12 m8 offset-m2" id="contact-form">
            <div class="card-panel">
                <!-- firstname -->
                <div class="row">
					<div class="input-field col s12">
                        <i class="fas fa-user prefix light-blue-text text-darken-4"></i>
                        <input id="firstName" name="firstName" type="text" class="validate" minlength="2" required>
                        <label for="firstName">
                            First Name
                        </label>
                        <span class="helper-text" data-error="Please enter at least 2 characters"></span>
					</div>
                </div>
                <!-- lastname -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-friends prefix light-blue-text text-darken-4"></i>
                        <input id="lastName" name="lastName" type="text" class="validate" minlength="2" required>
                        <label for="lastName">
                            Last Name
                        </label>
                        <span class="helper-text" data-error="Please enter at least 2 characters"></span>
                    </div>
                </div>
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope prefix light-blue-text text-darken-4"></i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">
                            Email
                        </label>
                        <span class="helper-text" data-error="Please enter a valid email address"></span>
                    </div>
                </div>
                <!-- message -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-comment-dots prefix light-blue-text text-darken-4"></i>
                        <textarea id="message" name="message" class="materialize-textarea" data-length="500" minlength="20" required></textarea>
                        <label for="message">
                            Message
                        </label>
                        <span class="helper-text" data-error="Please provide more detail in your message to us"></span>
                    </div>
                </div>
                <!-- signup -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large green text-shadow">
                        Signup <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script src="static/js/contact.js"></script>
{% endblock %}