{% extends "base.html" %}
{% block content %}

<div class="row mb-4">
    <div class="col">
        <h1>Guest Details</h1>
    </div>
    <div class="col d-flex justify-content-end">
        <button type="reset"class="btn btn-danger align-self-end mx-2">Delete Client</button>
        <button type="submit" class="btn btn-primary align-self-end">Add Booking</button>
    </div>
</div>


<div class="row d-flex justify-content-center justify-content-lg-between">

<form class="row gx-3 align-items-center border border-black col-12 col-lg-8 mb-4 py-2 d-flex justify-content-center" style="max-width: 750px;" method="POST" action="{{ url_for('edit_guest', guest_id=guest._id) }}">
    <div class="col-auto">
        <label for="firstName" class="form-label">
            First Name
        </label>
        <input type="text" id="firstName" name="firstName" class="form-control" value="{{ guest.first_name or '' }}" required />
    </div>
    <div class="col-auto">
        <label for="lastName" class="form-label">
            Last Name
        </label>
        <input type="text" id="lastName" name="lastName" class="form-control" value="{{ guest.last_name or '' }}" required />
    </div>
    <div class="col-auto">
        <label for="email" class="form-label">
            Email
        </label>
        <input type="email" id="email" name="email" class="form-control" value="{{ guest.email or '' }}" required />
    </div>
    <div class="col-auto">
        <label for="mobile" class="form-label">
            Mobile
        </label>
        <input type="tel" id="mobile" name="mobile" class="form-control" value="{{ guest.mobile or '' }}" required />
    </div>
    <div class="col-auto">
        <label for="dob" class="form-label">
            Date of Birth
        </label>
        <input type="date" id="dob" name="dob" class="form-control" value="{{ guest.dob.strftime('%Y-%m-%d') if guest.dob else '' }}" />
    </div>
    <div class="col-auto">
        <label for="clientSince" class="form-label">
            Client Since
        </label>
        <input type="date" id="clientSince" name="clientSince" class="form-control" value="{{ guest.created_date.strftime('%Y-%m-%d') or '' }}" disabled    />
    </div>
    <div class="col-auto col-lg-6">
        <label for="notes" class="form-label">
            Guest Notes
        </label>
        <textarea id="notes" name="notes" class="form-control" value="{{ guest.notes or '' }}">
            {{- guest.notes or '' -}}
        </textarea>
    </div>
    <div class="col-auto">
        <label for="marketingConsent" class="form-check-label">
            Marketing Consent
        </label>
        <input type="checkbox" id="marketingConsent" name="marketingConsent" class="form-check-input" {{ 'checked' if guest.marketing_consent == "on" or '' }} />
    </div>
    <div class="col-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary align-self-end">Update Guest</button>
    </div>
</form>

<div class="mb-4" style="width: 18rem;">
    <div class="card-header bg-white border border-black border-1 fs-5 text-center">
        Client Statistics
    </div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                Bookings Made:
            </div>
            <div>
                {{ guest.bookings or 0 }}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                Completed: 
            </div>
            <div>
                {{ guest.bookings_completed or 0 }}
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                No Shows:
            </div>
            <div>
                {{ guest.no_shows or 0 }}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                Cancellations: 
            </div>
            <div>
                {{ guest.cancellations or 0 }}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                Waitlist: 
            </div>
            <div>
                {{ guest.waitlist or 0 }}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                Confirmed: 
            </div>
            <div>
                {{ guest.confirmed or 0 }}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                Booked: 
            </div>
            <div>
                {{ guest.booked or 0 }}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                Booking Value:
            </div>
            <div>
                €{{ guest.value or 0 }}
            </div>
        </li>
    </ul>
</div>

</div>

{% if bookings|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">People</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.date }}</td>
                <td>{{ booking.time }}</td>
                <td>{{ booking.people }}</td>
                <td>{{ booking.status.capitalize() }}</td>
                <td><button onclick="editBooking('{{ booking.client_id }}', '{{ booking._id }}', '{{ booking.date }}', this.parentElement.parentElement.rowIndex)" class="btn btn-outline-primary">Edit</button></td>
                <td><button class="btn btn-outline-danger">Delete</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h3 class="red-text text-darken-4 center-align">No Bookings Found</h3>
{% endif %}
{% endblock %}