{% extends "base.html" %}
{% block content %}

<div class="header">
    <div class = "card header-body valign-wrapper">
        <div class="header-content">
            <h3>
                Simplify Bookings Today
            </h3>
        <h1>
            Maximize Your Tables
        </h1>
        <button class="btn green">
            Signup Now
        </button>
        </div>
    </div>
</div>

<hr class="page-section">

<div class="row">
    <div class="card sticky-action col s5">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://images.unsplash.com/photo-1511871893393-82e9c16b81e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Bookings<i class="fas fa-plus right"></i></span>
            <p>Managing your bookings is key to increasing your revenue.</p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Bookings<i class="fas fa-times right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            <ul>
                <li>
                    Benefit One
                </li>
                <li>
                    Benefit Two
                </li>
                <li>
                    Benefit Three
                </li>
            </ul>
        </div>
        <div class="card-action">
            <button class="btn green">
                Get Started
            </button>
        </div>
    </div>
    <div class="card sticky-action col s5 offset-s2">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Clients<i class="fas fa-plus right"></i></span>
            <p>Managing your clients is key to managing your marketing.</p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Clients<i class="fas fa-times right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
        <div class="card-action">
            <button class="btn green">
                Get Started
            </button>
        </div>
    </div>

    <div class="card sticky-action col s5">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://images.unsplash.com/photo-1512485800893-b08ec1ea59b1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Users<i class="fas fa-plus right"></i></span>
            <p>Managing your users is key to your security and safety.</p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Users<i class="fas fa-times right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
        <div class="card-action">
            <button class="btn green">
                Get Started
            </button>
        </div>
    </div>
    <div class="card sticky-action col s5 offset-s2">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Marketing<i class="fas fa-plus right"></i></span>
            <p>Marketing your restaurant is key to increasing your revenue.</p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Marketing<i class="fas fa-times right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
        <div class="card-action">
            <button class="btn green">
                Get Started
            </button>
        </div>
    </div>
</div>
{% endblock %}