{% extends "base.html" %}
{% block content %}

<div class="header">
    <div class = "card header-body valign-wrapper">
        <div class="header-content">
            <h3>
                Simplify Bookings Today
            </h3>
        <h1>
            Maximize Your Tables
        </h1>
        <button class="btn btn-success">
            Signup Now
        </button>
        </div>
    </div>
</div>

<hr class="page-section">

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1511871893393-82e9c16b81e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Bookings
                </h5>
                <p class="card-text">
                    Managing your bookings is key to increasing your revenue. Here is some more information about this product that is only revealed once clicked on.
                </p>
            </div>
            <div class="card-footer bg-white border-top-0">
                <button type="button" class="btn btn-primary">
                    Learn More
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Clients
                </h5>
                <p class="card-text">
                    Managing your clients is key to managing your marketing. Here is some more information about this product that is only revealed once clicked on.
                </p>
            </div>
            <div class="card-footer bg-white border-top-0">
                <button type="button" class="btn btn-primary">
                    Learn More
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1512485800893-b08ec1ea59b1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Users
                </h5>
                <p class="card-text">
                    Managing your users is key to your security and safety. Here is some more information about this product that is only revealed once clicked on.
                </p>
            </div>
            <div class="card-footer bg-white border-top-0">
                <button type="button" class="btn btn-primary">
                    Learn More
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Marketing
                </h5>
                <p class="card-text">
                    Marketing your restaurant is key to increasing your revenue. Here is some more information about this product that is only revealed once clicked on.
                </p>
            </div>
            <div class="card-footer bg-white border-top-0">
                <button type="button" class="btn btn-primary">
                    Learn More
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}