{% extends "base.html" %}
{% block content %}

<h1>Login</h1>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" />
                    <label for="email">
                        Email address
                    </label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Password" />
                    <label for="password">
                        Password
                    </label>
                </div>
                <!-- login -->
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                New Here?
                <a href="{{ url_for('signup') }}" class="light-blue-text text-darken-4">Register Account</a>
            </p>
        </div>
    </div>

{% endblock %}