{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Profile</h1>

    <div class="row">
        <form class="col s6 offset-s3" method="POST" action="{{ url_for('signup') }}">
            <div class="card-panel">
            {% for data in user %}
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="email" name="email" type="email" class="validate" value="{{ data.email }}" required>
						<label for="email">email</label>
					</div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- name -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-tag prefix light-blue-text text-darken-4"></i>
                        <input id="name" name="name" type="text" minlength="2"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" value="{{ data.name }}" required>
                        <label for="name">Name</label>
                    </div>
                </div>
                <!-- restaurant name -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-home prefix light-blue-text text-darken-4"></i>
                        <input id="restaurant-name" name="restaurant-name" type="text" minlength="2"
                            maxlength="25" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" value="{{ data.restaurant_name }}" required>
                        <label for="restaurant-name">Restaurant Name</label>
                    </div>
                </div>
                <!-- signup -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large green text-shadow">
                        Update <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            {% endfor %}
            </div>
        </form>
    </div>

{% endblock %}