{% extends "base.html" %}
{% block content %}

<h1>Signup</h1>

<div class="bd-example">
    <form method="POST" action="{{ url_for('signup') }}">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control validate" id="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
        </div>
        <div class="mb-3">
            <label for="restaurant-name" class="form-label">Restaurant Name</label>
            <input type="text" class="form-control" id="restaurant-name" required>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
</div> 

<p class="mt-4">
    Already Registered?
    <a href="{{ url_for('login') }}">Log In</a>
</p>
{% endblock %}