{% extends "base.html" %}
{% block content %}

    <h1 class="center-align mt-48">Profile</h1>

<div class="card mt-48">
    <div class="card-header bg-white">
        <div class="row align-items-center">
            <div class="col">
            <h4 class="mb-0">
                Your Team
            </h4>
            </div>
            {% if admin == "true" %}
            <div class="col-auto">
            <button class="btn btn-xs btn-primary"  data-bs-toggle="modal" data-bs-target="#addUser">
                Add
            </button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="list-group list-group-flush">
            {% for data in users %}
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto">
                    <!-- Avatar -->
                        <div class="avatar-xl">
                            <img class="avatar-img rounded-circle" src="{{ url_for('static', filename='img/user_icon.jpg') }}" alt="...">
                        </div>
                    </div>
                    <div class="col-6 ms-n5">
                        <p class="mb-0">
                            {{ data.name }}
                        </p>
                        <a class="d-block small text-truncate text-gray-700" href="mailto:{{ data.email }}">
                            {{ data.email }}
                        </a>
                    </div>
                    <div class="col-auto ms-auto d-flex justify-content-end">
                        <select class="form-select" aria-label="Access Level" {% if admin == "false" %}disabled{% endif %}>
                            <option value="admin" {% if data.access == "admin" %}selected{% endif %}>Admin</option>
                            <option value="user" {% if data.access != "admin" %}selected{% endif %}>User</option>
                        </select>
                    </div>
                    {% if admin == "true" %}
                        <div class="col-auto d-flex justify-content-end">
                            <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#updateUser">
                                Edit
                            </a>
                            <button class="btn btn-outline-danger ms-2">
                                Delete
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="updateUser" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="updateUserModalLabel">Update User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="">
                <div class="mb-3">
                    <label for="userName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="userName" name="userName" required>
                </div>
                <div class="mb-3">
                    <label for="userEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="userEmail" name="userEmail" required>
                </div>
                <div class="mb-3">
                    <label for="userPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="userPassword" name="userPassword" required>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Update User</button>
        </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{{ url_for('add_user') }}" id="addUserForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="access" class="form-label">Status</label>
                    <select class="form-select" aria-label="Access" name="access">
                        <option value="User" selected>User</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="addUserForm">Add User</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}